@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

html,
body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px
}

body {
    /* background-color: #ac66cc; */
    display: grid;
    place-items: center
}

.correct , .incorrect{
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}

.card {
    background-image: linear-gradient(to right, #caf7e3, #4ca1a3);
    border-radius: 50px;
    color: #161616;
    font-family: 'Marcellus', serif;
    margin-bottom: 70px;
}

.time{
    padding-left: 70%;
}

#heading {
    font-size: 55px;
    color: rgb(46, 29, 29);
}

.temp {
    place-items: center;
}

.temp-details>p>span,
.grey {
    color: #4a4d55;
    font-size: 12px;
}

.temperature{
    font-size: 11px;
    position: relative;
}

/* .time{
    margin-left: 200px;
} */

.weather-icon{
    position: relative;
    bottom: 20px;
    left: 200px;
}

/* .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 6px 13px 6px 13px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  } */
  
  /* .search-box{
      height: 2;
      
  } */