@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #b1a5b1;
    display: grid;
    place-items: center
}

.card {
    background-image: linear-gradient(to right, #caf7e3, #4ca1a3);
    border-radius: 50px;
    color: #161616;
    font-family: 'Marcellus', serif
}

.time{
    margin-left: 75%;
}

#heading {
    font-size: 55px;
    color: rgb(46, 29, 29);
}

.temp {
    place-items: center;
}

.temp-details>p>span,
.grey {
    color: #4a4d55;
    font-size: 12px;
}

.temperature{
    font-size: 11px;
    position: relative;
}

.time{
    text-align: right;
}

.weather-icon{
    position: relative;
    bottom: 20px;
    left: 200px;
}